/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global */
html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  font-family: monospace;
  font-size: 14px;
  background-color: #f9f2fa;
}

/* Nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
}

.nav__logo {
  font-size: 0.8rem;
  color: #2d2642;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 0.8rem;
}

.nav__ist a {
  text-decoration: none;
  color: #66606e;
}

.nav__list a:hover{
  color: #5d4c72;
  font-weight: bold;
}

