/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global */
html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  font-family: monospace;
  font-size: 14px;
  background-color: #f9f2fa;
}

/* Nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
}

.nav__logo {
  font-size: 0.8rem;
  color: #2d2642;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 0.8rem;
}

.nav__list a {
  text-decoration: none;
  font-weight: 700;
  color: #66606e;
}

/* Header */
.header {
  text-align: center;
  margin: 1.5rem;
}

.header__text {
  margin-bottom: 0.8rem;
}

.header__text h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #2d2642;
}

.header__text p {
  font-size: 0.8rem;
  color: #66606e;
}

.text__links {
  margin-top: 0.8rem;
}

.text__links a {
  text-decoration: none;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  color: #66606e;
}

.text__links a:first-child {
  background: linear-gradient(#b773ff, #ca78f0);
  color: #ffffff;
}

.header__img {
  overflow: hidden;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 50%;
}

.header__img img {
  width: 100%;
  object-fit: cover;
}
