/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global */
html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  font-family: monospace;
  font-size: 14px;
  background-color: #f9f2fa;
}

/* Nav */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
}

.nav__logo {
  font-size: 0.5rem;
  color: #2d2642;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

.nav__list a {
  text-decoration: none;
  font-size: 0.8rem;
  font-weight: 700;
  color: #66606e;
}

/* Header */
.header {
  text-align: center;
  margin: 1.5rem;
}

.header__text {
  margin-bottom: 0.8rem;
}

.header__text h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #2d2642;
}

.header__text p {
  font-size: 0.8rem;
  color: #66606e;
}

.header__text p span {
  font-size: 1rem;
  font-weight: bold;
}

.text__links {
  margin-top: 0.8rem;
}

.text__links a {
  text-decoration: none;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  color: #66606e;
}

.text__links a:first-child {
  background: linear-gradient(to left top, #b773ff, #e887c3);
  color: #ffffff;
}

.header__img {
  overflow: hidden;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 50%;
}

.header__img img {
  width: 100%;
  object-fit: cover;
}

.tech {
  text-align: center;
  padding: 1rem 2rem;
  color: #ffffff;
  background: linear-gradient(to left top, #b773ff, #e887c3);
}

.tech p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

/* About */
.about {
  text-align: center;
  padding: 2rem;
  margin: 1rem auto;
}

.about h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #2d2642;
}

.about__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about__container p {
  font-size: 0.8rem;
  color: #66606e;
}

.container__progress h3 {
  margin-bottom: 0.5rem;
  color: #2d2642;
}

.progress__badged {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
}

.badged {
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.badged-js {
  color: #000000;
  background-color: #F7DF1E;
}

.badged-ts {
  color: #FFFFFF;
  background-color: #3178C6;
}

.badged-react {
  color: #000000;
  background-color: #61DAFB;
}

.badged-astro {
  color: #FFFFFF;
  background-color: #FF5D01;
}

/* Skills */
.skills {
  text-align: center;
  padding: 2rem;
  margin: 1rem auto;
  color: #ffffff;
  background: linear-gradient(to left top, #b773ff, #e887c3);
}

.skills h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.skills__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  gap: 1rem;
  margin: 1rem;
}

/* Contact */
.contact {
  padding: 2rem;
}

.contact h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.from__group {
  margin: 1rem auto;
}

.from__group label {
  display: inline-block;
  font-weight: bold;
  width: 100%;
  margin-bottom: 0.5rem;
  color: #2d2642;
}

.from__group input,
textarea {
  outline: none;
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.4rem 1rem;
  border: 1px solid transparent;
}

.from button {
  outline: none;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: #ffffff;
  background: linear-gradient(to left top, #b773ff, #e887c3);
}

/* Footer */
.footer {
  text-align: center;
  padding: 2rem;
  color: #ffffff;
  background: linear-gradient(to left top, #b773ff, #e887c3);
}

.footer__link {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin-bottom: 1rem;
}

.footer__link a {
  text-decoration: none;
  font-weight: 700;
  color: #2d2642;
}

/* Media Queries */
@media(min-width: 768px) {

  /* Nav */
  .nav {
    padding: 0.8rem 1.8rem;
  }

  .nav__logo {
    font-size: 0.7rem;
  }

  .nav__list {
    gap: 1rem;
  }

  .nav__list a {
    font-size: 1rem;
  }

  .nav__list a:hover {
    transition: all 0.5s ease-in;
    color: #2d2642;
  }

  /* Header */
  .header {
    margin: 2rem;
  }

  .header__text {
    margin-bottom: 1rem;
  }

  .header__text h2 {
    margin-bottom: 0.8rem;
  }

  .header__text p {
    font-size: 1rem;
  }

  .header__text p span {
    font-size: 1.2rem;
  }

  .text__links {
    margin-top: 1rem;
  }

  .text__links a {
    padding: 0.5rem 1rem;
  }

  .header__img {
    max-width: 80%;
    margin-top: 1.2rem;
  }

  /* About */
  .about {
    padding: 2.5rem;
    margin: 1.2rem auto;
  }

  .about h2 {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
  }

  .about__container {
    gap: 1.2rem;
  }

  .about__container p {
    font-size: 1rem;
  }

  .container__progress h3 {
    margin-bottom: 0.8rem;
  }

  .progress__badged {
    gap: 1.2rem;
    margin: 1.2rem;
  }

  .badged {
    padding: 0.8rem;
    transition: all 0.5s ease-in;
  }

  .badged:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  /* Skills */
  .skills {
    padding: 2.5rem;
    margin: 1.2rem auto;
  }

  .skills h2 {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
  }

  .skills__grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 1.2rem;
    margin: 1.2rem;
  }

  /* Contact */
  .contact {
    padding: 2.5rem;
  }

  .contact h2 {
    font-size: 1.4rem;
    margin-bottom: 0.8rem;
  }

  .from__group {
    margin: 1.2rem auto;
  }

  .from__group label {
    font-size: 1rem;
  }

  .from__group input,
  textarea {
    padding: 0.5rem 1rem;
  }

  .from__group input:focus,
  textarea:focus {
    border: 1px solid #2d2642;
    background: transparent;
  }

  .from button {
    transition: all 0.5s ease-in;
    font-size: 1rem;
  }

  .from button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  /* Footer */
  .footer {
    padding: 2.5rem;
  }

  .footer__link {
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1rem;
  }

  .footer__link a {
    color: #2d2642;
  }

  .footer link a:hover {
    transition: all 0.5s ease-in;
    color: #66606e;
  }
}

@media(min-width: 1024px) {

  /* Nav */
  .nav {
    padding: 1rem 2rem;
  }

  .nav__logo {
    font-size: 0.9rem;
  }

  .nav__list {
    gap: 1.2rem;
  }

  .nav__list a {
    font-size: 1.2rem;
  }

  /* Header */
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    width: 90%;
    margin: 2rem auto;
  }

  .header__text {
    text-align: left;
    width: 60%;
  }

  .header__text h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .header__text p {
    font-size: 1.2rem;
  }

  .header__text p span {
    font-size: 1.5rem;
  }

  .text__links {
    margin-top: 1.2rem;
  }

  .text__links a {
    padding: 0.5rem 1rem;
  }

  .header__img {
    max-width: 40%;
    margin-top: 0rem;
  }

  /* About */
  .about {
    padding: 3rem;
    margin: 1.5rem auto;
  }

  .about h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .about__container {
    gap: 1.5rem;
  }

  .about__container p {
    width: 80%;
    margin: 0 auto;
    font-size: 1.2rem;
  }

  .container__progress h3 {
    margin-bottom: 1rem;
  }

  .progress__badged {
    justify-items: center;
    gap: 1.5rem;
    margin: 1.5rem;
  }

  .badged {
    width: 80%;
    padding: 1rem;
  }

  /* Skills */
  .skills {
    padding: 3rem;
    margin: 1.5rem auto;
  }

  .skills h2 {
    font-size: 1.5rem;
  }

  .skills__grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1.5rem;
    margin: 1.5rem;
  }

  /* Contact */
  .contact {
    padding: 3rem;
  }

  .contact h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .from__group {
    margin: 1.5rem auto;
  }

  .from__group label {
    font-size: 1.2rem;
  }

  .from__group input,
  textarea {
    padding: 0.8rem 1.2rem;
  }

  .from button {
    padding: 0.8rem 1.8rem;
    font-size: 1.2rem;
  }

  /* Footer */
  .footer {
    padding: 3rem;
  }

  .footer__link {
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
  }
}